/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

footer {
  text-align: right;
  font-family: 'Times New Roman', serif;
  font-size: 0.8em;
}

p {
  color: #555;
}

.title {
  padding-bottom: 10px;
  margin: 0 0 5px;
  font-size: 5em;
  font-weight: normal;
  font-family: 'Baskerville', serif;
  border-bottom: 1px solid #ccc;
  color: rgb(152,173,166);
}

.necklace {
	border: 5px rgb(152,173,166) solid;
}

.mini_headers {
  color: rgb(111,127,122);
  font-size: 2em;
}

a + img {
  border: 5px #ccc solid;
  padding: 1px;
}




























